@use "../../../util/variables" as var;

@import "types";
@import "card-type";

.poke {
    cursor: pointer;
    width: clamp(180px, 100%, 320px);
    min-height: clamp(180px, 100%, 320px);
    box-shadow: -2px 2px 6px rgba(0,0,0,.1);
    border-radius: 15px;
    padding: 25px 20px;
    margin: 20px 25px;
    animation: 500ms ease-in fadeIn;
    transition: 200ms ease;

    &:hover {
        box-shadow: -15px 35px 0px rgba(0,0,0,.2);
        transform: translateY(-8%);
    }
}

.poke__name {
    font-size: 1.1em;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 0 5px;
}

.poke__types {
    text-transform: capitalize;
    color: #fff;
    font-size: .7em;
    align-self: flex-end;

    & .poke__types__title {
        margin-bottom: 10px;
    }

    & .type {
        text-align: center;
        border-radius: 6px;
        padding: 4px 1.5em;
        margin: 10px 0;
        box-shadow: -2px 2px 0px rgba(0,0,0,.16);
    }
}

.poke__img {
    margin-left: 10px;
    width: 50%;
    position: relative;

    & img {
        width: 100%;
        min-height: 110px;
        max-height: 110px;
        object-fit: contain;
        border-radius: 15px;
    }

    &.placeholder {
        opacity: .1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: .1;
        transform: translateY(-8%);
        box-shadow: -15px 35px 0px rgba(0,0,0,.2);
    }
    50% {
        transform: translateY(-8%);
        box-shadow: -15px 35px 0px rgba(0,0,0,.2);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        box-shadow: -2px 2px 6px rgba(0,0,0,.1);
    }
}