<div 
    *ngIf="pokemonURL | async as pokemon; else loading" 
    [ngClass]="['poke', pokemon.types[0].type.name]"
    (click)="pokemon.is_default && redirect(pokemon.name)"
>
    <p class="poke__name">{{pokemon.name}}</p>

    <div class="d-flex flex-row justify-content-between">
        <div class="poke__types">
            <div class="align-end">
                <p class="poke__types__title">
                    tipo<span *ngIf="pokemon.types.length > 1">s</span>:
                </p>
                <p *ngFor="let type of pokemon.types" [ngClass]="['type', type.type.name]">
                    {{type.type.name}}
                </p>
            </div>
        </div>

        <div class="poke__img">
            <img 
            [src]="pokemon['sprites']['other']['official-artwork']['front_default']" 
            [alt]="pokemon.name"
            loading="lazy"
            >
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="poke placeholder-wave">
        <div class="poke__name w-100 placeholder"></div>
        <div class="poke__types w-100 placeholder"></div>
    </div>
</ng-template>