@keyframes click {
    0% {
        box-shadow: -3px 6px 0 rgba(0,0,0,.2);
        transform: translateY(-5%);
    }
    50% {
        box-shadow: 1px 1px 5px rgba(0,0,0,.1);
        transform: translateY(0%);
    }
    100% {
        box-shadow: -3px 6px 0 rgba(0,0,0,.2);
        transform: translateY(-5%);
    }
}