@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row-responsive {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
    }
}