// Palette
$dark-mode: #263040;
$black: #001010;
$white: #f9f9f9;
$primary: #1875C6;
$link: #4585E6;

// Types
$grass: #3f9f5d;
$fire: #d13734;
$water: #4592C3;
$electric: #e6a01e;
$poison: #954da8;
$bug: #7a9f3f;
$ice: #32bfba;
$rock: #806e1d;
$psychic: #a30562;
$fairy: #de87c4;
$dark: #284061;
$ghost: #67518a;
$normal:#919394;
$steel: #7a9ea1;
$fighting: #D56723;

// Gradient Types
$ground-1: #baa202;
$ground-2: #997f08;
$flying-1: #34a6c7;
$flying-2: #919394;
$dragon-1: #536cdb;
$dragon-2: #db537a;

// Config Lighten
$l-type: 10%;
$l-card: 5%;
