<div class="search">
    <input (keyup)="storeValue($event)" (keyup.enter)="search()" [value]="pesquisa" placeholder="Procurar Pokemon" type="text" name="search">
    <button (click)="search()" type="button" name="Pesquisar" [disabled]="isLoading">
        <ng-container *ngIf="!isLoading">
            <i-feather name="search"></i-feather>
        </ng-container>
        <ng-container *ngIf="isLoading">
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </ng-container>
    </button>
</div>

<div *ngIf="errorMsg" class="alert alert-danger fade show" role="alert">
    <p>{{errorMsg}}</p>
    <i-feather (click)="reset()" name="X" type="button" data-bs-dismiss="alert" aria-label="Close"></i-feather>
</div>