@use "../../../util/mixins";
@use "../../../util/variables" as var;

.banner {
    @include mixins.flex-row-responsive;

    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 100px;
    padding: 0 30px;
}

.banner__text {
    color: var.$black;
    max-width: 500px;
    align-self: center;

    & h1 {
        font-size: 3em;
        font-weight: 500;
        margin-bottom: 25px;
        text-transform: uppercase;
    }

    & p {
        font-size: 1.1em;

    }
}

.banner__img {
    width: clamp(180px, 100%, 350px);
    align-self: flex-end;
}